@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------
   Blog Content Styles
   These styles enhance typography,
   spacing, and structure for blog posts
--------------------------------- */
.blog-content {
  counter-reset: custom-counter; /* Reset counter for custom ordered lists */
  color: #1A1A1A;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Consistent vertical spacing */
}

/* Ordered List */
.blog-content ol {
  list-style: none; /* Remove default numbering */
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0;
}

.blog-content ol li::before {
  counter-increment: custom-counter;
  content: counter(custom-counter) ". "; /* Custom numbering */
  font-weight: bold;
}

/* Unordered List */
.blog-content ul {
  list-style: disc; /* Keep bullets for unordered lists */
  padding-left: 50px;
}

/* Paragraphs */
.blog-content p {
  font-size: 16px;
  font-weight: 400;
  color: #1A1A1A;
}

/* Links */
.blog-content a {
  font-size: 16px;
  font-weight: bold;
  color: #034FE3;
  text-decoration: underline;
  cursor: pointer;
}

/* Headings */
.blog-content h1 {
  font-size: 24px;
  font-weight: 500;
}

.blog-content h2 {
  padding-left: 1.5rem;
  font-size: 20px;
  font-weight: 400;
  border-left: 3px solid #034FE3; /* Visual accent */
}

.blog-content h3 {
  font-size: 20px;
  font-weight: 500;
}

.blog-content h4 {
  font-size: 24px;
  font-weight: 500;
}
